* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helevetica, sans-serif;
    background: #e6e6e6;
    overflow-x: hidden;
}

/*Layout*/

#area-cabecalho {
    background: red;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

/*formatações do menu*/
a {
    text-decoration: none;
}

a:link, a:visited {
    color: #ffffff;
    padding: 8px 12px;
}

a:hover {
    color: red;
    background: #ffffff;
    text-decoration: none;
}

#area-postagens a {
    background: none;
    color: red;
    position: relative;
    right: 10px;
    top: 5px;
}

#area-lateral a {
    background: none;
    color: red;
    position: relative;
    right: 10px;
}
/*formatações gerais*/

#titulo-01 {
    color: red;
}

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color: red;
}


.branco {
    color: #FFF;    
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #FFF;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

/*formatação da area principal*/

#area-princpal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens, #area-lateral {
    padding-top: 5px;
    display: block;
    background: white;
    width: 260px;
}
/* 920
660
260 */
#area-postagens {
    width: 660px;
    float: left;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

#area-lateral {
    padding: 7px;
    background: white;
    color: rgb(80, 78, 78);
    width: 240px;
    float: right;
    position: relative;
    left: 5px;
}

#rodape {
    width: 920px;
    text-align: center;
    background: #CCC    ;
    clear: both;
    margin: 0 auto; 
}

#id-lateral {
    border-bottom: 2px solid #CCC;
    margin-top: 5px;
}

h3 {
    background: #CCC;
    padding: 2px;
    color: #565656;
}

#area-lateral-2 {
    padding: 7px;
    background: white;
    width: 240px;
    float: left;
    position: relative;
    top: 20px;
    left: 11px;
}

.area-lateral {
    color: red;
}


